# Initial Exploration of MIMIC-IV and MIMIC-III Databases - WIP

In [1]:
from creds import creds
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio

In [2]:
# grab database credentials
host = creds.host
port = creds.port
uname = creds.username
pwd = creds.password

## MIMIC-IV - basic stats

In [3]:
# establish connection

dbname = 'mimiciv'

conn_iv = psycopg2.connect("host='{}' port={} dbname='{}' user={} password={}"
                           .format(host, port, dbname, uname, pwd))

Total number of patients in the MIMIC-IV dataset

In [4]:
sql = 'select count (distinct subject_id) from mimic_core.patients;'
pd.read_sql_query(sql, conn_iv)

    count
0  382278

In [5]:
pd.read_sql_query('select * from mimic_core.patients limit 0',conn_iv)

Empty DataFrame
Columns: [subject_id, gender, anchor_age, anchor_year, anchor_year_group, dod]
Index: []

In [6]:
# demographics

In [7]:
# other basic counts

In [8]:
# close connection
conn_iv.close()

## MIMIC-III - basic stats

In [9]:
# establish connection

dbname = 'mimiciii'

conn_iii = psycopg2.connect("host='{}' port={} dbname='{}' user={} password={}"
                            .format(host, port, dbname, uname, pwd))

Total number of patients in the MIMIC-III dataset

In [10]:
sql = "SELECT count(*) from mimiciii.patients"
pd.read_sql_query(sql, conn_iii)

   count
0  46520

In [11]:
# close connection
conn_iii.close()